@altermeliora:registry=https://europe-west1-npm.pkg.dev/altermeliora-infrastructure/npm/
//europe-west1-npm.pkg.dev/altermeliora-infrastructure/npm/:_password=""
//europe-west1-npm.pkg.dev/altermeliora-infrastructure/npm/:username=oauth2accesstoken
//europe-west1-npm.pkg.dev/altermeliora-infrastructure/npm/:email=npm@altermeliora.com
//europe-west1-npm.pkg.dev/altermeliora-infrastructure/npm/:always-auth=true